:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  

      .app-container {
      display: flex;
    }

    main {
      flex: 1;
      padding: 0;
      margin: 0;
      width: 100%;
    }